@import "~styles/breakpoints";

.whatdoContainer {
  text-align: center;
  color: var(--gray-darker);

  @include desktop {
    padding: 0 6em;
  }

  .whatdoTitle {
    h2 {
      font-size: var(--font-large);
      font-weight: 500;
    }
  }

  .whatdoDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include desktop {
      flex-direction: row;
    }

    .activitiesContainer {
      margin: var(--spacing-medium) 0;

      @include desktop {
        width: 50%;
      }

      p {
        font-size: var(--font-medium);
      }

      .cardsContainer {
        margin: var(--spacing-medium) 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .cardContainer {
          width: 80%;

          @include tablet-portrait {
            width: 300px;
          }

          .cardContentContainer {
            display: flex;
            justify-content: flex-start;

            span {
              font-size: var(--font-normal);
              font-weight: 600;
              margin-right: var(--spacing-medium);

              @include tablet-portrait {
                font-size: var(--font-medium);
              }
            }
          }
        }
      }

      a {
        text-decoration: none;
        color: var(--brand-blue);
        font-size: var(--font-medium);
        font-weight: 600;

        &:hover {
          color: var(--brand-blue-light);
          transition: 300ms ease;
        }
      }
    }
  }
}
