@import "~styles/breakpoints";

.passwordChangedContainer {
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  color: var(--gray-dark);

  @include desktop {
    margin-left: var(--sidebar-width);
  }

  .passwordChangedTitle {
    h3 {
      font-size: var(--font-big);
    }
  }

  .passwordChangedDescription {
    margin-bottom: var(--spacing-huge);
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
  }
}
