@import "~styles/breakpoints";

.container {
  padding: 0 var(--spacing-medium);
  color: var(--gray-dark);
  max-width: 600px;
  margin: auto;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__section {
      width: 100%;
      margin: var(--spacing-base) 0;
      max-width: 400px;

      .dropdown {
        width: 300px;
        margin: var(--spacing-base) auto;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    margin: var(--spacing-huge) 0;

    @include desktop {
      justify-content: flex-start;
    }

    button {
      &:first-of-type {
        margin-right: var(--spacing-huge);
      }
      &:last-of-type {
        width: 160px;
      }
    }
  }
}
