@import "~styles/breakpoints";

.container {
  color: var(--gray-dark);
  max-width: 600px;
  margin: auto;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__section {
      width: 100%;
      margin: var(--spacing-base) 0;
      max-width: 400px;
      text-align: center;

      .professorsDescription {
        margin-bottom: var(--spacing-huge);
        color: var(--gray-dark);

        .chip {
          display: flex;
          justify-content: center;
        }
      }

      .dropdown {
        max-width: 300px;
        margin: var(--spacing-base) auto;
      }

      .selectedProfessors {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: var(--spacing-huge) 0;
      }

      .coordinatorsLabel {
        font-weight: 600;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    margin: var(--spacing-huge) 0;

    @include desktop {
      justify-content: flex-start;
    }

    button {
      &:first-of-type {
        margin-right: var(--spacing-huge);
      }
      &:last-of-type {
        width: 160px;
      }
    }
  }
}
