@import "~styles/breakpoints";

.container {
  padding: 0 var(--spacing-medium);
  color: var(--gray-dark);
  max-width: 1000px;
  margin: auto;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .section {
      width: 100%;
      margin: var(--spacing-huge) 0;
      max-width: 400px;
      display: flex;
      flex-direction: column;

      @include desktop {
        margin: var(--spacing-huge) 0;
      }

      &__label {
        font-weight: 600;
      }

      &__dropdown {
        width: 240px;
        margin: var(--spacing-base) 0;
      }

      &__button {
        display: flex;
        justify-content: center;
        margin: var(--spacing-large) 0;

        @include desktop {
          justify-content: flex-start;
        }

        button {
          width: 160px;
        }
      }
    }
  }
}
