@import "~styles/breakpoints";

.container {
  background: var(--gray-lightest);

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 5%;
    color: var(--gray-darker);

    h2 {
      width: 60%;

      @include tablet-portrait {
        width: auto;
      }
    }

    @include tablet-portrait {
      justify-content: center;
    }

    img {
      margin-right: var(--spacing-large);
      width: 3.5em;
      transform: rotate(-9deg);
    }
  }

  .subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--gray-darker);
    padding: 0 var(--spacing-large);
    margin-top: var(--spacing-large);

    h3 {
      @include tablet-portrait {
        width: auto;
      }
    }

    @include tablet-portrait {
      justify-content: center;
    }
  }

  .description {
    text-align: center;
    padding: 0 8%;
    color: var(--gray-darker);

    @include tablet-portrait {
      padding: 0 15%;
    }

    p {
      margin: var(--spacing-large) 0;
      font-size: var(--font-medium);
    }

    .buttonContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: var(--spacing-huge) 0;
    }
  }

  .schedule {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--gray-darker);

    .table {
      width: 100%;
      min-width: 300px;
      border-spacing: 0;
      color: var(--gray-darker);
      box-shadow: var(--long-drop-shadow);
      margin-bottom: var(--spacing-huge);

      th:first-of-type {
        border-top-left-radius: 6px;
      }

      th:last-of-type {
        border-top-right-radius: 6px;
      }

      tr:last-of-type td:first-of-type {
        border-bottom-left-radius: 6px;
      }

      tr:last-of-type td:last-of-type {
        border-bottom-right-radius: 6px;
      }

      th {
        background: var(--gray-darker);
        color: #fff;
        padding: var(--spacing-base);
      }

      td {
        background: var(--gray-lighter);
        color: var(--gray-darker);
        padding: var(--spacing-base);
        text-align: center;

        a {
          color: var(--brand-blue);
        }
      }

      td:first-of-type {
        font-weight: 600;
      }
    }
  }

  .info {
    text-align: center;
  }
}