@import "~styles/breakpoints";

.newPasswordContainer {
  min-height: 100vh;
  background-color: var(--gray-lightest);

  @include desktop {
    margin-left: var(--sidebar-width);
  }

  .cardContainer {
    margin: var(--spacing-huge) auto;
    color: var(--gray-dark);
    text-align: center;

    @include tablet-portrait {
      width: 70%;
    }

    @include tablet-landscape {
      width: 50%;
    }

    @include desktop {
      width: 60%;
      max-width: 600px;
    }

    .cardContentContainer {
      padding: var(--spacing-medium) 0;

      .cardTitle {
        h3 {
          font-size: var(--font-big);
        }
      }

      .cardDescription {
        margin-bottom: var(--spacing-huge);
      }

      .inputsContainer {
        width: 80%;
        margin: auto;
        margin-bottom: var(--spacing-huge);

        @include tablet-landscape {
          width: 60%;
        }
      }
    }
  }
}
