@import "~styles/breakpoints";

.adaptionContainer {
  background: var(--gray-lightest);

  .adaptionTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 5%;
    color: var(--gray-darker);

    h2 {
      width: 60%;

      @include tablet-portrait {
        width: auto;
      }
    }

    @include tablet-portrait {
      justify-content: center;
    }

    img {
        margin-right: var(--spacing-large);
        width: 3.5em;
        transform: rotate(-9deg);
    }
  }

  .adaptionSubtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--gray-darker);
    padding: 0 var(--spacing-large);
    margin-top: var(--spacing-large);

    h3 {
      @include tablet-portrait {
        width: auto;
      }
    }

    @include tablet-portrait {
      justify-content: center;
    }

    img {
        margin-left: var(--spacing-base);
        width: 2em;
        transform: rotate(-5deg);
    }
  }

  .adaptionDescription {
    text-align: center;
    padding: 0 8%;
    color: var(--gray-darker);

    @include tablet-portrait {
      padding: 0 15%;
    }

    p {
      margin: var(--spacing-large) 0;
      font-size: var(--font-medium);
    }

    .buttonContainer {
      display: flex;
      justify-content: center;
      margin: var(--spacing-huge) 0;
    }
  }

  .classesDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--font-medium);
    color: var(--gray-darker);

    span {
      font-weight: 600;
      text-align: center;
    }
  }
}
