@import "~styles/breakpoints";

.loaderContainer {
  display: flex;
  justify-content: center;
}

.contentContainer {
  @include tablet-landscape {
    padding: 0 5%;
  }
  @include desktop {
    padding: 0 12%;
  }

  .tableContainer {
    margin-bottom: var(--spacing-huge);
  }

  .buttonsContainer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: var(--spacing-huge);

    button {
      &:last-of-type {
        margin-left: var(--spacing-large);
      }
    }
  }
}
