@import "~styles/breakpoints";

.contactContainer {
  min-height: 100vh;

  @include desktop {
    margin-left: var(--sidebar-width);
  }

  .contactHeader {
    height: 200px;
    padding: var(--spacing-base);
    background: var(--brand-yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.2);

    @include desktop {
      height: 300px;
    }

    h2 {
      margin: 0;
      color: var(--gray-darker);

      @include desktop {
        font-size: var(--font-very-large);
      }
    }
  }

  .contactItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-base);
    margin: var(--spacing-huge) 0;

    @include tablet-landscape {
      flex-direction: row;
      justify-content: space-evenly;
      margin: var(--spacing-very-huge) 0;
    }

    a {
      width: 100%;
      max-width: 400px;

      .cardContainer {
        margin: var(--spacing-large) var(--spacing-base);

        .contactItem {
          height: 120px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          color: var(--gray-dark);

          i {
            font-size: var(--font-very-large);
            margin-bottom: var(--spacing-base);
          }

          span {
            font-size: 20px;
          }
        }
      }
    }
  }

  .formContainer {
    background: var(--gray-darker);
    padding: var(--spacing-huge) var(--spacing-large);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;

    .contactForm {
      margin: 0;
      width: 100%;
      max-width: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include tablet-landscape {
        width: 40%;
      }

      .formContent {
        width: 100%;

        input {
          margin: var(--spacing-small) 0;
        }
      }

      button {
        margin-top: var(--spacing-large);
      }
    }
  }
}
