@import "~styles/breakpoints";

.whatisContainer {
  text-align: center;
  color: var(--gray-darker);

  @include desktop {
    padding: 0 10em;
  }

  .whatisTitle {
    h2 {
      font-size: var(--font-large);
      font-weight: 500;
    }
  }

  .whatisDescription {
    p {
      font-size: var(--font-medium);
    }
  }
}
