@import "~styles/breakpoints";

.adaptionContainer {
  background: var(--gray-lighter);

  .adaptionTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 5%;
    color: var(--gray-darker);

    h2 {
      width: 60%;

      @include tablet-portrait {
        width: auto;
      }
    }

    @include tablet-portrait {
      justify-content: center;
    }

    span {
      i {
        margin-right: var(--spacing-base);
        font-size: var(--font-large);
      }
    }
  }

  .adaptionDescription {
    text-align: center;
    padding: 0 8%;
    color: var(--gray-darker);

    @include tablet-portrait {
      padding: 0 15%;
    }

    p {
      margin: var(--spacing-large) 0;
      font-size: var(--font-medium);
    }
  }
}
