@import "~styles/breakpoints";

.cardContainer {
  padding: var(--spacing-base) var(--spacing-medium);
  background-color: var(--gray-lightest);
  box-shadow: var(--medium-drop-shadow);
  border-radius: var(--large-radius);
  margin: var(--spacing-base) var(--spacing-base);
}

.yellow {
  background-color: var(--brand-yellow);
  color: var(--gray-dark);
}

.blue-dark {
  background-color: var(--brand-blue-dark);
  color: #fff;
}

.outline {
  border: 1px solid var(--gray-light);
}

.outline-blue {
  background-color: #fff;
  border: 1px solid var(--brand-blue-dark);
}

.outline-blue-brand {
  background-color: #fff;
  border: 1px solid var(--brand-blue);
}

.outline-yellow {
  background-color: #fff;
  border: 1px solid var(--brand-yellow-light);
  transition: ease 300ms;

  &:hover {
    background-color: var(--brand-yellow-lighter);
  }
}
