@import "~styles/breakpoints";

.resetPasswordSentContainer {
  min-height: 100vh;
  color: var(--gray-dark);
  text-align: center;

  @include desktop {
    margin-left: var(--sidebar-width);
  }

  .resetPasswordSentTitle {
    h3 {
      font-size: var(--font-big);
    }
  }

  .resetPasswordSentDescription {
    max-width: 700px;
    margin: auto;
    margin-bottom: var(--spacing-huge);
  }
}
