@import "~styles/breakpoints";

.resetPasswordContainer {
  min-height: 100vh;
  background-color: var(--gray-lightest);

  @include desktop {
    margin-left: var(--sidebar-width);
  }

  .cardContainer {
    margin: var(--spacing-huge) auto;

    @include tablet-portrait {
      width: 80%;
    }

    @include tablet-landscape {
      width: 70%;
    }

    @include desktop {
      width: 60%;
      max-width: 600px;
    }

    .cardContentContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: var(--spacing-medium) 0;
      color: var(--gray-dark);

      .resetPasswordTitle {
        h3 {
          font-size: var(--font-big);
        }
      }

      .resetPasswordDescription {
        text-align: center;
        padding: 0 var(--spacing-small);
      }

      .inputContainer {
        margin-bottom: var(--spacing-base);
        width: 100%;

        @include tablet-portrait {
          width: 80%;
        }

        @include tablet-landscape {
          width: 60%;
        }

        @include desktop {
          width: 60%;
          max-width: 600px;
        }
      }
    }
  }
}
