@import "~styles/breakpoints";

.courseDetailContainer {
  min-height: 100vh;
  background-color: var(--gray-lightest);

  @include desktop {
    margin-left: var(--sidebar-width);
  }

  .courseDetailTitle {
    text-align: center;
    color: var(--gray-dark);
    margin-bottom: var(--spacing-huge);

    @include desktop {
      margin-bottom: 60px;
    }

    h2 {
      font-weight: 500;
      font-size: var(--font-large);
    }
  }

  .courseDetailDescription {
    text-align: center;
    color: var(--gray-dark);

    p {
      font-size: 18px;
    }
  }

  .courseDetailData {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      font-size: 18px;
    }

    .dataPeriod {
      width: 100%;
      display: flex;
      justify-content: space-around;

      @include tablet-portrait {
        width: 40%;
      }
    }

    .dataCoordinator {
      margin-top: var(--spacing-large);
    }
  }
}
