@import "~styles/breakpoints";

.description {
  text-align: center;
  color: var(--gray-dark);

  p {
    font-size: 18px;
  }
}

.data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: var(--spacing-very-huge) 0;
  color: var(--gray-dark);

  @include tablet-portrait {
    align-items: center;
  }

  @include desktop {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  span {
    font-size: 18px;
  }

  &__period {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include tablet-portrait {
      width: 50%;
      justify-content: space-evenly;
    }
  }

  .professors {
    margin-top: var(--spacing-large);

    @include desktop {
      margin-top: 0;
    }

    &__chips {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }
}

.buttons {
  display: flex;
  flex-direction: column-reverse;

  @include tablet-portrait {
    flex-direction: row;
    justify-content: center;
  }

  button {
    width: fit-content;
    margin: var(--spacing-base);
  }

  .actions {
    display: flex;
  }
}
